.main-form {
    padding: 48px 36px ;
}
.main-form .main-input {
    margin-bottom: 18px;
}

.main-form .main-input.-textarrea{
    margin-bottom: 36px;
}

.main-form .main-title {
    margin-bottom: 45px;
}