.main-section {
    background-color: #F25A70;
    padding-top: 40px;
    padding-bottom: 70px;
    border-bottom: 5px solid #7C5E99;
}

.main-section .main-title {
    margin-bottom: 40px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #F25A70;
}